name: Analytics_action

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  import-data:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::tidyr 
            any::zoo
      - name: Save a file
        run: Rscript -e 'source("CODE/Code.R")'
      - name: Save a file
        run: Rscript -e 'source("CODE/Generate_shiny_data.R")'
      - name: Commit RData file
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add .
          git commit -m "Results from R script" || echo "No changes to commit"
          git push origin || echo "No changes to commit"-
